// Non-modular or client styles for .l-search region.
.l-search {
    background: #B6C2CC;
    padding: rem-calc(8) 0;
    form {
        input {
            border-color: scale-color($blue-medium, $lightness: 20%);
            border-right: none;
        }
        input, button {
            margin: 0;
        }
    }
}
