# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

.DS_Store
.idea
/docroot/sites/all/themes/bei/package-lock.json
/docroot/sites/all/modules/hierarchical_select/hierarchical_select-not_well_formed_numeric_value_error-2845621-1.patch
