.name {
height: $topbar-height;
margin: 0;
font-size: $em-base;

  h1, h2, h3, h4, p, span {
    line-height: $topbar-height;
    font-size: $topbar-title-font-size;
    margin: 0;
    a {
      font-weight: $topbar-title-weight;
      color: $topbar-link-color;
      width: 50%;
      display: block;
      padding: 0 $topbar-height / 3;
    }
  }
}