
#button_config{
	background-color: #008CBA;
	border: none;
	color: #008CBA;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
	font-size: 16px;
}
.mo_oauth_server_support_layout{
	width: 93%;
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding-left:20px; 
}
.mo_oauth_server_table_layout_1
{
	background-color:#e0e0d8 !important;
	width: 97% !important;
	padding:2% !important;
	overflow: hidden;
}
.mo_oauth_server_table_layout_support_1{
	border-radius: 1px !important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
	float: right !important;
	width: 29% !important;
	background-color:#FFFFFF !important;
	border:1px solid #CCCCCC !important;
	padding:10px 10px 10px 10px !important;
	margin-bottom: 10px !important;
}

.mo_oauth_server_table_layout {
 background-color:#FFFFFF; 
 border:1px solid #CCCCCC; 
 padding:0px 10px 10px 10px;
 margin-bottom: 10px;
}
.container1
{
	width: 61%;
	padding:25px;
	float: left;
}
.mo_oauth_server_table_layout td {
 
}
.mo_oauth_server_table_layout input[type=text] {
 width: 80%;
}
.mo_oauth_server_table_layout td strong {
 margin-left: 10px;
}
#mo_text_edit{
	width: 40%;
}
#mo_ldap_server{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
#support_textfield{
	width: 30%;
	padding: 12px 20px;
	margin: 3px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
#text_field{
	width: 70%;
	padding: 12px 20px;
	margin: 3px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
#firstname{
    width: 70%;
	padding: 8px 10px;
	margin: 3px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
#test_username{
    width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
#test_password{
    width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
select {
	width: 100%;
	height: 40px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-form-class{
	border: none;
	padding: 8px 20px;
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
	font-size: 16px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mo_oauth_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_oauth_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
#lemp{
	width: 100%;
}
.mo_oauth_help {
	border-top: solid 1px grey;
	width: 95%;
}
.mo_oauth_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_oauth_support_layout{
       width: 93%;
       background-color:#FFFFFF;
       border:1px solid #CCCCCC;
       padding-left:20px;
}
.mo_oauth_table_layout {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}
.mo_oauth_table_layout input[type=text] {
	width: 80%;
}
.mo_oauth_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.mo_oauth_table_textbox {
	width:80%;
}
.mo_oauth_settings_table {
	width: 100%;
}
.mo_oauth_settings_table tr td:first-child {
	width: 30%;
}
.mo_oauth_heading_margin {
	margin-left: 0px;
}
.error_wid_login {
    background-color: #FFEBE8;
    border: 1px dashed #FF0000;
    color: #FF0000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 6px;
	margin-left: 200px;
    width: 80%;
	clear:both !important;
}

.login_wid li{
	margin:5px;
}

.login_wid{
		list-style-type:none;
		border: 1px dashed #999999;
		width:98%;
		float:left;
		padding:5%;
	}
.login_wid li{
	width:48%;
	float:left;
	margin:2px;
}
.openid_social_login{
	padding:5px 0px 0px 0px;
	clear:both;
	width:100% !important;
}

.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}
.mo_oauth_local_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_oauth_local_pricing_paid_tab{
	background-color: #0B4669 !important;
}
.mo_oauth_local_pricing_text{
	font-size: 14px !important;
	color: #fff !important;
	font-weight: 600 !important;

}
.mo_oauth_local_pricing_sub_header{
	margin: 2px !important;
	color: #fff !important;
}
.mo_oauth_local_pricing_header{
	color: #fff !important;
	margin: 4px !important;
}
.mo_oauth_local_pricing_table{
	text-align:center;
	font-size: 15px !important;
	background-color:#FFFFFF;
}

.mo_oauth_local_thumbnail{
	/*width: 250px;*/
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_premium_thumbnail{
	width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_local_table_col1{
	padding-left:5%;
}

.mo_oauth_local_table_col2{
	padding-left:20%;
}
/*** CSS For Show oauth Request And Response ***/

.mo-display-logs{
	color: #3c763d;
	background-color: #dff0d8;
	padding:2%;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #AEDB9A;
	font-size:18pt;
}
.mo-display-block {
	color: #050505;
	width: -moz-available;
	min-height: 300px !important;
	overflow: auto;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 2%;
	margin-bottom: 20px;
	text-align: left;
	border: 1px solid #AEDB9A;
	font-size: 12pt;
}